extends layout

block content

  if (!user)

    a(href="/login") Login
    br
    a(href="/register") Register

  else

    p You are currently logged in as #{user.username}
    a(href="/logout") Logout

    form(action='feeds', method='post')
      input(type='text', name='url')#feed_url
      button(type=submit).add-feed add feed

    ul
      each article in feeds
        li
          a(href="/feeds/#{article.id}") #{article.title}


    if selected_feed
      h3= selected_feed.title

    script(src='/javascripts/setup.js')
    script(src='/javascripts/index.js')